AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-2
S3_BUCKET=kp-mm-kpevideo
SAT_RAW_PREFIX=SAT/RAW/
SAT_PROCESSED_PREFIX=SAT/PROCESSED/
PORT=3001
GOOGLE_SHEET_ID=1Vt9himNM4Neo0FiVL6Fxaf2QmqOUuj0vsydQr_q5FDk
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account@your_project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
